
<script>
 $("textarea").each(function() {
    CodeMirror.fromTextArea($(this).get(0), {
    lineNumbers: true,
    mode: "text/x-sh"
   });
 });
</script>


<%= simple_form_for @job, :html => { :class => "form-horizontal job" } do |f| %>

    <% if @job.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @job.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<!--
  <div class="control-group">
    <%= f.label :jbname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :jbname, :class => 'form-control' %>
    </div>
    <%= error_span(@job[:jbname]) %>
  </div>

  <div class="control-group">
    <%= f.label :jbscript, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :jbscript, :class => 'summernote' %>
    </div>
    <%= error_span(@job[:jbscript]) %>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
-->

  <div class="form-group">
    <%= f.input :jbname, input_html:{class:'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :jbscript, as: :text, input_html: {id: "code" } %>
  </div>


    
  <%= f.button :submit, class:'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            jobs_path, :class => 'btn btn-default' %>

<% end %>
